[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "*"
markdown = "*"
ghp-import = "*"
python-gettext = "*"
"beautifulsoup4" = "*"
ipython = "*"
lxml = "*"
nbconvert = "*"

[dev-packages]

[requires]
python_version = "3.6"
